[submodule "acpica"]
	path = acpica
	url = https://github.com/napocahv/acpica.git
	branch = napoca-custom
[submodule "VisualUefi"]
	path = uefi/VisualUefi
	url = https://github.com/napocahv/VisualUefi.git
	branch = napoca-custom
[submodule "json"]
	path = libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "hvmi"]
	path = hvmi
	url = https://github.com/hvmi/hvmi.git
