syntax: glob

/_intdir
*.obj
*.ilk
*.dep
*.sbr
*.ncb
*.user
*.log
*.tlog
*.sdf
*.suo
*.opensdf
*.idb
/bin
*.*bkp
*.mac
*.FileListAbsolute.txt
*.vcxprojAssemblyReference.cache
objchk_*
objfre_*
.*swp
*.pyc
/tags
.vs
ipch/
autogen/cmdlines
autogen
doc
